<div class="menu" ng-include src="'menuItems.html'">
</div>

<article>
    <form novalidate ng-class="{submitted:editRecipeForm.submitted}" name="editRecipeForm" ng-show="recipe">

        <div class="detailTop">
            <div class="detailLeftSide">

                <div class="inputField">
                    <label for="name">Navn:</label>
                    <input type="text" id="name" class="name" ng-model="recipe.name" ng-required="true"/>
                </div>
                <div class="inputField">
                    <label for="recipeTags">Kategorier:</label>
                    <input type="text" id="recipeTags" ng-model="recipe.tags" ng-required="true" categories />
                    <span ng-show="editRecipeForm.recipeTags.$error.categories">Må ha gyldige kategorier</span>
                </div>
                <div class="inputField">
                    <label for="recipePortions">Porsjoner:</label>
                    <input type="text" id="recipePortions" ng-model="recipe.portions"/>
                </div>

                <div class="detailImageBox">
                    <a href="">
                        <span class="detailImageText">{{image.imageData ? 'Endre bilde' : 'Legg til bilde'}}</span>
                        <img id="detailImagePreview" class="detailImagePreview"
                             ng-src="{{image.imageData || placeholderImage}}"
                             ng-click="chooseImage()" src=""/>
                    </a>
                </div>
                <input type="file" id="detailImage" class="hidden" custom-on-change="changeRecipeImage"/>

            </div>

            <div class="detailRightSide">

                <div class="inputField">
                    <h3>Ingredienser:</h3>
                    <textarea id="recipeIngredients1" auto-grow class="ingredients" ng-required="true"
                              ng-model="transients.ingredients1" title="Ingredienser"></textarea>
                    <textarea id="recipeIngredients2" auto-grow class="ingredients"
                              ng-model="transients.ingredients2" title="Ingredienser"></textarea>
                </div>
            </div>

        </div>

        <div class="detailBottom">
            <h3>Slik gjør du:</h3>

            <div class="inputField">
                <textarea class="instructions" ng-model="recipe.instructions"
                          ng-required="true" title="Slik gjør du"></textarea>
            </div>

            <div class="inputField">
                <button ng-click="save()">{{recipe.$id ? 'Oppdater' : 'Lagre'}}</button>
            </div>

            <a href="" ng-click="remove()" ng-show="recipe.$id">Slett oppskriften!</a>
        </div>

    </form>
    <form name="imageForm" ng-show="false">
        <input type="hidden" ng-model="image.imageData"/>
    </form>
</article>
