<div class="menu" ng-include src="'menuItems.html'">
</div>

<article>

	<div class="detailListTop">
	  <input type="text" ng-model="query" ng-show="searchShown" search-focus class="search-query" placeholder="Søk" id="searchBox">
	</div>

	<div class="entityList">
	  <div class="detail" ng-repeat="recipe in recipes | orderBy: 'name' | filter:search">
	    <a href="#/recipe/view/{{recipe.$id}}">
	      <img ng-src="{{recipe.image}}" class="detailImage" ng-show="recipe.image"/>
	      <h4>{{recipe.name}}</h4>
	    </a>
	  </div>
	</div>
</article>
