<input type="text" ng-model="search" class="search-query" placeholder="Søk">
<div class="table-header">
  <div class="recipe-info">
    <h3 class="heading">Oppskrifter</h3>
  </div>
  <div class="recipe-action">
    <a href="#/new"><div class="icon-new"></div></a>
  </div>
</div>

<div class="table-row" ng-repeat="recipe in recipes | orderByPriority | orderBy:'name' | filter:search">
  <div class="recipe-info">{{recipe.name}}</div>
  <div class="recipe-action">
    <a href="#/edit/{{recipe.$id}}"><div class="icon-edit"></div></a>
  </div> 
</div>
