body {
    background-color: #000;
}

.appframe {
    background-color: #fff;
    width: 1000px;
    margin: auto;
    padding: 1em;
}

.siteHeader {
    width: 100%;
    text-align: center;
}

img {
    max-width: 100%;
}

div, textarea {
    box-sizing: border-box;
}

input, textarea, div {
    font-size: 1em;
}

html, body {
    font-size: 16px;
}

button {
    padding: 0.3em;
    border-radius: 0.5em;
    font-size: 1.1em;
    color: #6666dd;
    background: linear-gradient(#777777, #EEEEEE, #777777);
    cursor: hand;
}

button:hover {
    color:black;
    box-shadow: #00DD00;
}

a.imageText {
    text-decoration: none;
    font-size: 1.1em;
    color: #539191;
    display: inline-block;
    margin-top: 0.2em;
}