/* FONT STACK */
body,
input, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}

/* BASE LAYOUT */

html {
    
}

div, textarea {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.ie6 html {
    height: 100%;
}

html * {
    margin: 0;
}

body {
	color: #333333;
	background: #daeabc;
	margin: 0 auto;
    max-width: 960px;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
       -moz-box-shadow: 0 0 0.3em #255b17;
    -webkit-box-shadow: 0 0 0.3em #255b17;
            box-shadow: 0 0 0.3em #255b17;    
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
    border-color: #255b17;
    border-style: solid;
    border-width: 0 1px;
}

.ie6 body {
    height: 100%;
}

img {
    max-width: 100%;
}

a:link, a:visited, a:hover {
    color: #48802c;
}

a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 1.25em;
    margin: 0.8em 0 0.3em 0;
}

ul {
    padding: 0;
}

img {
    border: 0;
}

.footer a {
    color: #255b17;
}

.spinner {
    background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    text-indent: -9999px;
    display: inline-block;
    float: right;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
       -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
            box-shadow: 0 0 0.5em #ffffff;
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
       -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
            box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

form.submitted input:invalid, 
form.submitted select:invalid,
form.submitted textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

form.submitted input:invalid:focus,
form.submitted select:invalid:focus,
form.submitted textarea:invalid:focus {
       -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
            box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
    border-top: 1px solid #DFDFDF;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

tr {
    border: 0;
}

tr>td:first-child, tr>th:first-child {
    padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
    padding-right: 1.25em;
}

td, th {
    line-height: 1.5em;
    padding: 0.5em 0.6em;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}

thead th {
    white-space: nowrap;
}

th a {
    display: block;
    text-decoration: none;
}

th a:link, th a:visited {
    color: #666666;
}

th a:hover, th a:focus {
    color: #333333;
}

th.sortable a {
	background: no-repeat right;
	padding-right: 1.1em;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

th:hover, tr:hover {
    background: #E1F2B6;
}

/* Kokogvin specific */

.entityList .detail {
    padding: 0.5em;
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

header {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #666666;    
    font-size: 44px;
    text-shadow: 4px 4px 4px #aaa;
    line-height: 1.7em;
    text-align: center;
}

.headerText {
    width: 89%;
    display: inline-block;
}
.headerSpinner {
    width: 9%;
    display: inline-block;
}

header a:link,
header a:visited {
    color: inherit;
}

.menu {
      background-color: #eaeaea;
}

.nav {
    display: inline-block;
    width: 69%;
    cursor: pointer;
}

.nav.right {
    width: 29%;
    text-align: right;
}

.nav > ul > li {
  display: inline-block;
  position: relative;
  padding: 0 1em 0.5em 1em;
}

.nav > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 0.3em 0 0.3em 0;
    z-index: 100;
    width: 150px;
	border: 1px dotted black;
	display: none;
}

.nav > ul > li > ul li {
    display: block;
    list-style-type: none;
    margin: 0.4em 0 0.3em 1em;
}

.nav > ul > li:hover ul {
    display: block;
}

.nav > ul > li > ul > li > ul > li {
    margin: 0.3em 0 0.3em 0.6em;
}

.nav > ul > li > ul > li a:hover {
    text-decoration: underline;
}

article {
    padding: 0.5em 1em 2em 1em;
    background-color: white;
}

.detailListTop {
    overflow: hidden;
}

.detailTop img, .detailBottom img {
    padding: 0 0 1em 0;
}

.search-query {
    display: inline-block;
    float: left;
}

.newEntity {
  display: inline-block;
  float: right;
}

.detailTop {
    padding-top: 1em;
    overflow: hidden;
}

.detailLeftSide {
    width: 44%;
    display: inline-block;
    vertical-align: top;
}

.detailRightSide {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    float: right;
}

.detailBottom {
    width: 100%;
}

.inputField {
    clear: both;
    padding: 0 0 1em 0;
}

.inputField input, .inputField textarea, .inputField span {
    float: right;
}

.inputField input, .inputField span {
    width: 70%;
}

.inputField span {
    background-color: #ffaaaa;
    padding: 0.2em;
    margin: 0.2em 0;
}

input.name {
    font-weight:bold;
}

button {
    padding: 1em;
    margin: 1em 0 1em 0;
    background-color: grey;
}

img.detailImagePreview {
    height: 250px;
    clear: both;
}

img.detailImagePreview.beverage {
    height: 350px;
}

.entityList img.detailImage {
    height: 200px;
}

.detailImageBox {
    position: relative;
}

span.detailImageText {
    position: absolute;
    z-index: 10;
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 0.2em;
    display: none;
}

.detailImageBox:hover span.detailImageText {
    display: block;
}

textarea {
    width: 100%;
}

textarea.ingredients {
    height: 20em;
    display: inline-block;
    width: 49%;
    float: left;
}

div.ingredients {
    display: inline-block;
    width: 48%;
    float: left;
}

div.ingredients:nth-child(2) {
    float: right;
}

textarea.instructions {
    height: 15em;
}

textarea.comments {
    height: 20em;
}

.frontpageImage {
    width: 100%;
}

.loginBox {
    width: 50%;
    margin: 2em auto 0 auto;
    padding: 1em;
    border: solid 1px;
}

.password {
    width: 4em;
}

.noticeBox {
    position: fixed;
    right: 1em;
    top: 2em;
    background-color: white;
    font-size: 1.6em;
    padding: 0.2em;
    display: none;
}