<form ng-submit="save()">

  <div class="recipeTop">
    <div class="recipeLeftSide">

      <div class="inputField">
        Navn:<input type="text" ng-model="recipe.name" />
      </div>
      <div class="inputField">
        Kategorier: <input type="text" ng-model="recipe.tags" />
      </div>

      <img id="recipeImagePreview"   class="recipeImagePreview" src="{{recipe.image}}"
           ng-click="chooseImage()"  ng-show="recipe.image"
      />
      <div class="inputField" ng-hide="recipe.image">
        <a href="" ng-click="chooseImage()">Legg til bilde</a>
      </div>
      <input type="file" id="recipeImage" class="hidden" custom-on-change="changeImage" />

    </div>

    <div class="recipeRightSide">

      <div class="inputField">
        <H3>Ingredienser:<H3>
        <textarea class="ingredients" ng-model="recipe.ingredients"></textarea>
      </div>
    </div>

  </div>

  <div class="recipeBottom">
    <H3>Slik gjør du:</H3>
    <div class="inputField">
      <textarea class="instructions" ng-model="recipe.instructions"></textarea>
    </div>

    <div class="inputField">
      <button type="submit" ng-click="save">Oppdater</button>
    </div>
  </div>


</form>
