<div class="nav">
  <ul>
    <li>
      <a href="/#/recipe/list">Oppskrifter</a>
      <ul>
        <li>
          <a href="/#/recipe/list/middag">Middag</a>
          <ul>
            <li><a href="/#/recipe/list/middag&fisk">Fisk</a></li>
            <li><a href="/#/recipe/list/middag&kjoett">Kjøtt</a></li>
            <li><a href="/#/recipe/list/middag&vegetar">Vegetar</a></li>
          </ul>
        </li>
        <li><a href="/#/recipe/list/smarett">Småretter</a></li>
        <li><a href="/#/recipe/new">Ny oppskrift</a></li>
      </ul>
    </li>
    <li>
      <a href="/#/beverage/list">Vin</a>
      <ul>
        <li><a href="/#/beverage/new">Ny vin</a></li>
      </ul>
    </li>
    <li><a href="" ng-click="showSearch()" ng-show="showSearchInMenu">Søk</a></li>
  </ul>
</div>
<div class="nav right">
  <ul>
    <li ng-show="userId">
      <a href="" ng-click="logout()">Logg ut</a>
    </li>
    <li ng-hide="userId">
        <form>
            <input type="password" id="password" class="password" placeholder="Passord"
                   ng-model="user.password" login-focus/>
            <a href="" ng-click="login()">Logg inn</a>
        </form>
    </li>
  </ul>
</div>

<div class="noticeBox"></div>